* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");
  /* padding: 0 16px; */
}

.header {
  background-color: #f5ba13;
  
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
}

.header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}
.nav-search{
  background-color: #fff;
  border-radius: 8px;
  padding-top: 2px;
  width: 20%;
  margin-left: 4%;
}
.nav-search > input {
  width: 80%;
}
.nav-log > Button {
  margin: 4px;
}


.n-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
 
  flex-wrap: wrap;
  align-content: center;
  align-items:flex-start;
  margin: 3px 8%;
  align-content: space-between;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 300px;
  margin: 5px;
  flex: 1 auto;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  width: 85%;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  z-index: 1;
}

/* search input */
input {
  text-decoration-style: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  height: 35px;
  width: 45%;
  font-family: inherit;
  
}
input[type="text"]:focus  {
  outline: none;
}
.note-list-toggle{
  text-align: center;
}



@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
    justify-items: center;
    
  }
  .nav-search{
    /* background-color: #fff;
    border-radius: 8px;
    padding-top: 2px; */
    width: 60%;
    margin-left: 4%;
  }
  .n-container {
    margin: 3px 4%;
  }
  .note {   
    margin: 2px;
    flex-grow: 1 auto;
  }


  .note-form {
    margin: 0 4%;
  }
  form.create-note {
    width: auto
  }
  .nav-search > input {
    width: 75%;
  }
}